#titolo{
    text-align: center;
}

body{
    background-color: wheat;
}



.cose{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.comeefatto{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#fonti{
    font-family: Calibri;
}

#tabella{
    margin-left: auto;
    margin-right: auto;
}
