.noprof{
    font-weight: bolder;
    color: firebrick;
}

#test{
    background-color: black;
    font-style: italic;
    color: firebrick;
}

.span2{
    background-color:firebrick;
    color: white;
}


